<div class="container-fluid pages pages-margin">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Welcome to NorthStar!
                </h2>
                <p>
                    The NorthStar web portal enables ThingSpace users to access general purpose data processing and
                    analysis capabilities that can be used to analyze IoT device data and extract useful and sharable
                    results.
                </p>
                <p>
                    <a class="btn btn-primary btn-large" routerLink="/portal/help">Learn more</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>
                Notebooks
            </h2>
            <p>
                Notebooks enable users to present data using a number of visualizations. Each visualization can be from
                a single source of data or aggregated values from multiple sources. <span>Visualizations can be populated with dynamic queries created by the specific notebook as well as by accepting input from the user.</span>
            </p>
            <p>
                <a class="btn" routerLink="/portal/notebooks">View details »</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                Transformations
            </h2>
            <p>
                Transformations enable users to define code that can be executed on a device event (e.g., process device data) or on a configured schedule.
            </p>
            <p>
                <a class="btn" routerLink="/portal/transformations">View details »</a>
            </p>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

