.navbar {
    border-radius: 0px;
}

.navbar-nav {
    margin-top: 0.50%;
}

.navbar-header {
    padding-top: 4px;
    padding-right: 20px;
}

.autoRefresh {
    padding-top: 4px;
}

.container-fluid {
    margin-top: 0.35%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.dropdown-menu li:hover {
    cursor: pointer;
}

.activeCell {
    border-left-color: #e99d1a;
    border-left-width: medium;
    border-left-style: solid;
    margin-right: 5px;
}

.cell-group {
    overflow-y: scroll;
    height:90vh;
}

.cell-item {
    margin-left: 5%;
    margin-right: 5%;
}

